                                                                    
services:
  odoo:
    image: odoo:15.0
    env_file: .env
    depends_on:
      - db
    ports:
      - "0.0.0.0:8005:8069"   # Odoo web
      - "0.0.0.0:8006:8072"   # Odoo longpolling
    volumes:
      - data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  db:
    image: postgres:13
    env_file: .env
    ports:
      - "0.0.0.0:8007:5432"
    volumes:
      - db:/var/lib/postgresql/data/pgdata
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  data:
  db:
